*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(https://images.pexels.com/photos/464336/pexels-photo-464336.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-repeat: no-repeat;
    }
#container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#clock{
    font-weight:bold;
    color:whitesmoke;
    font-size: 20px;
}
#box1,#box2,#box3{
    display: inline-block;
    height: 100px;
    width: 90px;
    margin: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color:white;
    background-color:rgb(170, 115, 222);
    opacity: 0.8;
    }
#box4{
    display: inline-block;
    width: 66px;
    height: 45px;
    background-color: green;
    position: relative;
    top: 41px;
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    color: white;
  }
 #hour,#mint,#sec{
    display: inline-block;
    height: 32px;
    width: 90px;
    margin: 4px;
    position: relative;
    bottom: 38px;
    background-color:blueviolet;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color:white;
 }

    